.col-md-10.col-md-offset-1.text-center
  %h1 References
  %hr
.col-md-10.col-md-offset-1.text-center#ref
  - if action.eql?("edit")
    = render partial: "partials/profiles/references_edit"
  - else
    - if @references.empty?
      none
    - else
      = render partial: "partials/profiles/references_display"
