- if @my_offers.empty?
  .alert.alert-info You have made no offers.
- else
%table.table.table-striped#offers-table
  %thead
    %tr
      %td Job Title
      %td Posting Date
  %tbody
    - @my_offers.each do |o|
      %tr
        %td
          %a= Job.select(:title).find(o.job_id).title
        %td
          %p= o.created_at.strftime("%-m/%d/%Y")
