%ul.nav.nav-pills.nav-justified.text-center{ role: "tablist" }
  %li
    %a{href: "#offers", data: { toggle: :tab } }
      %h4.nav-titles My Offers
  %li
    %a{href: "#jobs", data: { toggle: :tab } }
      %h4.nav-titles Offers for Me
.tab-content
  .tab-pane#offers
    = render partial: "partials/offers/offer_list"
  .tab-pane#jobs
    = render partial: "partials/offers/job_list"
