- if @offers_for_me.empty?
  .alert.alert-info.offer-alert There are no offers for you.
- else
  %table.table.table-striped#offers-table
    %thead
      %tr
        %td Job Title
        %td Posting Date
    %tbody
      - @offers_for_me.each do |o|
        %tr
          %td
            %a= format_offer_name(o)
          %td
            %p
              = o.created_at.strftime("%-m/%d/%Y")
              - if o.accepted
                %span.glyphicon.glyphicon-ok.offer-accepted
