.row
  .steps-container
    .col-md-12.text-center
      %h2.bot-margin Two Different Accounts
    .col-md-3.col-md-offset-3.text-center
      .col-md-12
        %h3 User Account
        = image_tag("clipboard.png")
        %hr
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
    .col-md-3.text-center
      .col-md-12
        %h3 Doer Account
        = image_tag("tools.png")
        %hr
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
