.col-sm-12
  %label.control-label#exp-label.lab Describe the extent of your tutoring experience
  .col-sm-12.radios
    %label.radio-inline
      = radio_button_tag(:experience, "under 1 year", @ts ? @ts.experience.eql?("under 1 year") ? "checked: true" : false  : false)
      under 1 year
    %label.radio-inline
      = radio_button_tag(:experience, "1 - 2 years", @ts ? @ts.experience.eql?("1 - 2 years") ? "checked: true" : false : false)
      1 - 2 years
    %label.radio-inline
      = radio_button_tag(:experience, "3 - 4 years", @ts ? @ts.experience.eql?("3 - 4 years") ? "checked: true" : false : false)
      3 - 4 years
    %label.radio-inline
      = radio_button_tag(:experience, "5+ years", @ts ? @ts.experience.eql?("5+ years") ? "checked: true" : false : false)
      5+ years
