.form-group
  .col-md-12.bot-margin#edu
    .col-sm-12
      %label.control-label#edu-label.lab What is the highest education level you will tutor?
    .col-sm-12
      %label.radio-inline
        = radio_button_tag(:education, "Elementary (1-4)", @ts ? @ts.education.eql?("Elementary (1-4)") ? "checked: true" : false : false)
        Elementary (1-4)
      %label.radio-inline
        = radio_button_tag(:education, "Middle School (5-8)", @ts ? @ts.education.eql?("Middle School (5-8)") ? "checked: true" : false : false)
        Middle School (5-8)
      %label.radio-inline
        = radio_button_tag(:education, "High School (9-12)", @ts ? @ts.education.eql?("High School (9-12)") ? "checked: true" : false : false)
        High School (9-12)
      %label.radio-inline
        = radio_button_tag(:education, "College", @ts ? @ts.education.eql?("College") ? "checked: true" : false : false)
        College
