.row.pad.grey-bg
  .steps-container
    .col-md-12.text-center
      %h2.bot-margin How It Works
    .col-md-3.col-md-offset-1.text-center
      = image_tag("clock.png")
      %h3 Time
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Cras fermentum velit ac ornare interdum. Cras tristique tortor mi, ac venenatis massa tincidunt nec. Quisque dignissim mollis orci vel sollicitudin.
    .col-md-4.text-center
      = image_tag("money.png")
      %h3 Money
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Cras fermentum velit ac ornare interdum. Cras tristique tortor mi, ac venenatis massa tincidunt nec. Quisque dignissim mollis orci vel sollicitudin.
    .col-md-3.text-center
      = image_tag("stack.png")
      %h3 Simplicity
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Cras fermentum velit ac ornare interdum. Cras tristique tortor mi, ac venenatis massa tincidunt nec. Quisque dignissim mollis orci vel sollicitudin.
