.row.fix-pad.grey-bg
  .steps-container
    .col-md-12.text-center
      %h2.bot-margin How to Get Started
    .col-md-3.col-md-offset-3
      = image_tag "circle_one.png"
    .col-md-3.text-center
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
    .col-md-3
    .col-md-3.col-md-offset-3.after
      = image_tag "circle_two.png"
    .col-md-3.after.text-center
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
    .col-md-3
    .col-md-3.col-md-offset-3.after
      = image_tag "circle_three.png"
    .col-md-3.after.text-center
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt finibus quam, vel finibus enim suscipit sed.
    .col-md-3
