/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";

/******************************************************/
// change bootstrap colors here
$brand-primary: #00cd25;
$danger: #d9534f;
$border-radius-base: 1px;
$border-radius-small: 1px;
$border-radius-large: 1px;

/******************************************************/

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-color: rgb(250, 250, 250);
  padding-top: 70px;
}

.no-margin {
  margin: 0;
}

#error_explanation {
  color: rgb(200, 0, 0);
  li {
    text-align: left;
  }
}

.nav-img {
  width: 48px;
  margin-right: 20px;
}

.nav-vert {
  display: table-cell;
  vertical-align: middle;
  padding: 7px;
  color: red;
}


.navbar-form {
  margin-top:16px;
}

#nav-login-link {
  cursor: pointer;
}

.nav-form-hidden {
  display: none;
}

.nav-name {
  margin: 0;
}

.nav-td {
  padding-right: 10px;
  color: $brand-primary;
}

.nav {
  .glyphicon {
    font-size: 30px;
    color: $brand-primary
  }
}

.dropdown {
  cursor: pointer;
}

.navbar-header {
  height: 60px;
}

.navlist {
  margin-left: 10px;
}

.navbar-brand {
  color: $brand-primary !important;
  padding-top: 20px;
}

.navbar-brand.img {
  padding-top: 5px;
}
