// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offers {
  margin-left: 0 !important;
  margin-top: -3px !important;
}

#comments {
  float: right;
  right: -70px;
}

.left-column {
  padding: 0 !important;
  overflow: scroll;
  position: fixed !important;
  height: 100%;
  margin-top: -11px;
  z-index: 1;
}

.instructions {
  height: 95%;
  width: 100%;
  text-align: center;
}

.choose {
  font-weight: 200;
  font-size: 25px;
}

#offers-container {
  margin-bottom: 0 !important;
  overflow: scroll !important;
  height: 100% !important;
}

.nav-titles, .comment-header {
  font-weight: 200;
}

.right-column {
  height: 100%;
}

#offers-table {
  margin-top:20px;
}

.offer-alert {
  font-weight: 200;
  margin-top: 20px;
}

.comment-pic {
  width: 64px;
}

.comment-box {
  resize:none;
}

.comments-header, .comments-area {
  padding: 25px 15px 15px 15px;
}

.comments-area {
  height: 305px;
  overflow: scroll;
}

.comment-table {
  width: 100%;
}

.left-td {
  .media-body {
    margin-left: 20px;
  }
}

.right-td {
  .media-body {
    margin-right: 20px;
    text-align: right;
  }
}

.comment-body {
  font-weight: 200;
}

.comment-date {
  font-size: 12px;
}

.post-comment {
  margin: 0;
}

.comment-group {
  margin-bottom: 0 !important;
}

.hard-offer-form {
  height: 120px;
}

#datepicker {
  cursor: pointer;
  background: white;
}

.field {
  margin-bottom: 15px;
}

.nopad {
  padding: 0 !important;
}
