// Place all the styles related to the childcare_surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bot-margin {
  margin-bottom: 50px;
}

.title, #not-taken {
  font-weight: 200;
}

#not-taken {
  padding: 15px;
  font-size: 36px;
}

.misc {
  margin-top: 30px;
  textarea {
    resize: vertical;
  }
}

#slider-range {
  margin-top: 10px;
}

#amount {
  text-align: center;
  border: none;
  background: none;
  margin-top: 5px;
}

#add-above, .add-margin {
  margin-top: 10px;
}

#add-certs {
  cursor: pointer;
}

#header-error {
  display: none;
}

.form-control[readonly] {
  background-color: white !important;
  cursor: pointer !important;
}

#char-count {
  color: #d9534f;
  font-weight: 200;
}

.checkboxes {
  margin-top: 30px;
}

.animal-bullet {
  list-style-type: none;
}

.animal-list {
  padding: 0;
}
