// Place all the styles related to the tutoring_surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub {
  margin-top: 15px;
}

#finish {
  margin-top: 20px;
}

#header-error-tutor {
  display: none;
}

.sub-bullet {
  list-style-type: none;
}

.sub-list {
  padding: 0;
}

#edu {
  margin-top: 20px;
}
