// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.side-nav, .nav-color {
  font-size: 20px;
  color: #56597f;
  font-weight: 200;
}

.side-bar {
  margin-bottom: 0;
  overflow: scroll;
  position: fixed !important;
  height: 100%;
  margin-top:-11px;
}

.nav-img-user {
  width: 48px;
}

.nav-align {
  width: 40%;
  display:inline-block;
}

.right-content {
  margin-left: 320px;
}

li.active {
  a {
      background-color: rgba(109, 200, 121, 0.4) !important;
  }
}

.buy {
  border-color: $brand-primary !important;
  padding: 0 !important;
}

.top-buy {
  background-color: $brand-primary;
  color: white;
  h1 {
    margin-bottom: 20px;
    font-size: 45px;
  }
}

.buy-text {
  margin-bottom: 90px;
}

#upgrade_form {
  margin-bottom: 0;
}

.purchase {
  width: 96px;
}

.btn-buy {
  width: 80% !important;
  margin-bottom: 20px !important;
}

#deadline {
  margin-top: 20px;
}

#tags-header, .my-jobs, .my-surveys {
  color: white;
  background-color: $brand-primary;
  h2 {
    margin-bottom: 20px;
  }
}

.radios {
  text-align: left;
}

#tags-body, .jobs-table, .surveys-table {
    border: 1px solid $brand-primary;
    padding-top: 15px;
    padding-bottom: 15px;
}

#job-description {
  resize: none;
}

.remove-job {
  float: right;
}

.control-label {
  text-align: left !important;
}

#header-error {
  display:none;
}

.tags-error {
  display:none;
  padding-bottom: 15px;
}

#char-count {
  font-weight: 200;
  color: #d9534f;
}

.form-control[readonly] {
  cursor: pointer !important;
}

.button-right {
  margin-left: 20px;
}
