// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-nav, .nav-color {
  font-size: 20px;
  color: #56597f;
}

.side-bar {
  margin-bottom: 0;
  overflow: scroll;
  position: fixed !important;
}

.nav-img-user {
  width: 48px;
}

.nav-align {
  width: 40%;
  display:inline-block;
}

.right-content {
  margin-left: 320px;
}

li.active {
  a {
      background-color: rgba(140, 152, 200, 0.56) !important;
  }
}

.buy {
  background-color: rgba(140, 152, 200, 0.56) !important;
}

.title {
  color: white;
}

.purchase {
  width: 96px;
}
