- if !current_user.jobs.empty?
  %table.table-striped.table
    %thead
      %tr
        %th Job Title
        %th Date Posted
        %th Options
    %tbody
      - current_user.jobs.each do |j|
        %tr
          %td= link_to j.title, job_path(j)
          %td= j.created_at.strftime("%-m/%d/%Y")
          %td
            = link_to job_path(j), method: :delete, class: "btn btn-danger remove-job" do
              %span.glyphicon.glyphicon-remove
              Delete
- else
  .alert-info You have not posted any jobs.
