$('#job<%= params[:id] %>').remove();

if ($('.accept-row').length === 0)
  $('#accept-table').replaceWith("<div class='alert-info'>You have not accepted any jobs.</div>")

$('#completed-table').load('/users/' + $('#uid').text() + '/completed_jobs');
