%td.comment-pic
  %a.media-left.media-middle{ href: "#" }
    = image_tag("money.png", class: "comment-pic")
%td.left-td
  .media-body
    %h4.media-heading= c.username
    %p.text-muted.comment-body.comment-date= format_date(c.created_at)
    %p.comment-body= c.body
