.container-fluid
  .row
    = render partial: "partials/user/sidebar"
    .col-md-8
      .col-md-12.text-center
        %h1= "#{current_user.first_name} #{current_user.last_name}'s Dashboard"
        %hr
