%li.active
  %a.side-nav{ href: "#dashboard", data: { toggle: :tab } }
    .nav-align
      = image_tag "gear.png", class: "nav-img-user"
    .nav-align
      Dashboard
%li
  %a.side-nav{ href: "#posting", data: { toggle: :tab }  }
    .nav-align
      = image_tag "news.png", class: "nav-img-user"
    .nav-align
      Post Job
%li
  %a.side-nav{ href: "#contacts", data: { toggle: :tab } }
    .nav-align
      = image_tag "contacts.png", class: "nav-img-user"
    .nav-align
      My Clients
%li
  %a.side-nav{ href: "#upgrade", data: { toggle: :tab }  }
    .nav-align
      = image_tag "arrow-up.png", class: "nav-img-user"
    .nav-align
      Upgrade
