.tab-pane.active#dashboard
  = render partial: "partials/user/tab_content/unpaid_tabs/dashboard"
.tab-pane#posting
  = render partial: "partials/user/tab_content/unpaid_tabs/posting"
.tab-pane#contacts
  = render partial: "partials/user/tab_content/unpaid_tabs/clients"
.tab-pane#upgrade
  = render partial: "partials/user/tab_content/unpaid_tabs/upgrade"
