%h1 Skill Surveys
%hr
  .col-md-10.col-md-offset-1
    .col-md-12.my-surveys
      %h2 Available Surveys
    .col-md-12.surveys-table
      = render partial: "partials/user/tab_content/paid_tabs/surveys"
