%ul.nav.navbar-nav.navbar-right
  %li
    %a{ href: user_path(current_user.id) }
      %span.glyphicon.glyphicon-user
  %li
    %a
      %span.glyphicon.glyphicon-bell
  %li
    %a
      %span.glyphicon.glyphicon-envelope
