.container
  .row
    .col-md-10.col-md-offset-1
      = render partial: "partials/profiles/avatar"
      = render partial: "partials/profiles/about_me",     locals: { action: "edit" }
      = render partial: "partials/profiles/references",   locals: { action: "edit" }
      = render partial: "partials/profiles/availability", locals: { action: "edit" }
