// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.top-splash {
  margin-top: 40px;
}

.left-words, .right-words {
  display: inline-block;
}

.control-label {
  font-weight: 200;
}

.catchphrase {
  color: $dojob-color;
  font-size: $dojob-title1;
  font-family: 'Indie Flower', cursive;
}

.working-on {
  color: $dojob-color;
  font-size: $dojob-title2;
  font-family: 'Indie Flower', cursive;
}

.signup-header {
  margin-top: 40px;
}

.logout-header {
  margin-top: 0;
}

.login-header {
  margin-top:10px;
}

.contact {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-container {
  margin-top: 40px;
}

.after {
  margin-top: 45px;
}

.pad {
  margin-top: 95px;
}

.fix-pad {
  margin-top: 65px;
}

.pad-q {
  margin-top: 30px;
  margin-bottom: 60px;
}

.grey-bg {
  background-color: rgb(220, 220, 220);
  padding-bottom: 45px;
}

.explain {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bot-margin {
  margin-top: 0;
  margin-bottom: 35px;
}

.steps-container {
  overflow: auto;
  padding-top: 65px;
  padding-bottom: 20px;
}

.circle {
  width: 120px;
  height: 120px;
  background: rgba(0,0,0,0);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 60px;
  border: 1px solid #333;
  position: static;
  display: table;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: static;
  text-align: center;
}

.inner {
  font-size: 36px;
  font-weight: 200;
  color: #333;
}
