// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.top-splash {
  margin-top: 40px;
}

.left-words, .right-words {
  display: inline-block;
}

.catchphrase {
  color: $dojob-color;
  font-size: $dojob-title1;
  font-family: 'Indie Flower', cursive;
}

.working-on {
  color: $dojob-color;
  font-size: $dojob-title2;
  font-family: 'Indie Flower', cursive;
}

.signup-header {
  margin-top: 40px;
}

.login-header {
  margin-top:10px;
}

.contact {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-container {
  margin-top: 40px;
}

.after {
  margin-top: 45px;
}

.pad {
  margin-top: 75px;
}

.fix-pad {
  margin-top: 65px;
}

.pad-q {
  margin-top: 30px;
  margin-bottom: 60px;
}

.grey-bg {
  background-color: rgb(220, 220, 220);
  padding-bottom: 45px;
}

.explain {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bot-margin {
  margin-top: 0;
  margin-bottom: 35px;
}

.steps-container {
  overflow: auto;
  padding-top: 65px;
  padding-bottom: 20px;
}
