= form_tag(about_me_profile_path(@user.id), method: :post, remote: true) do
  .col-md-8.col-md-offset-2
    .form-group
      = label_tag(:about_me, about_me_label, class: "control-label")
      %p#about_me_success Update Successful!
      = text_area_tag(:about_me, @user.about_me, placeholder: "Tell us a little about yourself", rows: 5, class: "form-control", id: "about_me_form")
    .form-group
      = submit_tag "Update", class: "btn btn-primary btn-block"
