.form-group#certs
  .col-md-12.bot-margin
    .col-sm-12.text-center
      %h5#cert-1.lab Certification #1
    .col-sm-8
      %label.control-label Title
      = text_field(:cert_title_1, "", class: "form-control", name: "cert_title_1", id: "cert_title_1")
    .col-sm-4
      %label.control-label Expires
      = datetime_field(:cert_exp_1, "", class: "form-control", id: "datepicker", name: "cert_exp_1", id: "cert_exp_1", readonly: true)
    .col-sm-12.text-left#add-above
      %a#add-certs
        %span.glyphicon.glyphicon-plus
        Add More
    - if button
      .col-md-12
        %a.btn.btn-warning#cert-close Cancel
